<?xml version='1.0' encoding='UTF-8' ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/security
       http://www.springframework.org/schema/security/spring-security-3.2.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-3.2.xsd">

    <context:component-scan base-package="mavenShop3.controllers"/>
    <context:component-scan base-package="mavenShop3.service"/>

    <security:http access-denied-page="/">
        <security:intercept-url pattern="/*" access="ROLE_USER" />
        <security:intercept-url pattern="/user/login" access="ROLE_ANONYMOUS" />
        <security:intercept-url pattern="/user/regist" access="ROLE_ANONYMOUS" />
        <security:intercept-url pattern="/user/show" access="ROLE_USER" />
        <security:intercept-url pattern="/shop*" access="ROLE_USER" />
        <security:intercept-url pattern="/shop/history/*" access="ROLE_USER" />
        <security:intercept-url pattern="/user/userSave" access="ROLE_USER,ROLE_ANONYMOUS" />
        <security:form-login login-page="/user/login" default-target-url="/user/show" authentication-failure-url="/user/login?error=true" />
        <security:logout logout-url="/user/logout" logout-success-url="/user/show" />

        <security:anonymous username="guest" granted-authority="ROLE_ANONYMOUS" />
        <security:remember-me />
    </security:http>


    <security:authentication-manager>
        <security:authentication-provider user-service-ref="userDAO" />
    </security:authentication-manager>


    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://127.0.0.1:3306/store?zeroDateTimeBehavior=convertToNull"></property>
        <property name="username" value="root"></property>
        <property name="password" value="root"></property>
    </bean>
    <bean id="connection" class="java.sql.Connection" factory-bean="dataSource" factory-method="getConnection" />

    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />

<bean id="dataSource"
    class="org.springframework.jdbc.datasource.DriverManagerDataSource"
    p:driverClassName="${jdbc.driverClassName}"
    p:url="${jdbc.url}"
    p:username="${jdbc.username}"
    p:password="${jdbc.password}" /-->

    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->

</beans>
